<h1>所有媒体资源</h1>
<div *ngIf="filterConditions != null">
  <nz-select style="width: 120px;" nzSize="small" [(ngModel)]="selectedDate" nzAllowClear nzPlaceHolder="全部日期">
    <nz-option nzValue="{{date}}" nzLabel="{{date}}" *ngFor="let date of filterConditions.dateList"></nz-option>
  </nz-select>
  &nbsp;
  <nz-select style="width: 180px;" nzSize="small" [(ngModel)]="selectedType" nzAllowClear nzPlaceHolder="所有资源类型">
    <nz-option nzValue="{{type}}" nzLabel="{{type}}" *ngFor="let type of filterConditions.typeList"></nz-option>
  </nz-select>
  &nbsp;
  <button nz-button nzType="primary" nzSize="small" (click)="getByConditions()">筛选</button>
  &nbsp;&nbsp;&nbsp;
  <span style="font-size: small;"><i nz-icon type="exclamation-circle"></i> 引用数为“0”的资源可以被删除，以节省服务器磁盘空间</span>
</div>
<div style="margin-top: 10px;">
  <nz-table #basicTable [nzData]="displayData">
    <thead (nzSortChange)="sort($event)" nzSingleSort>
      <tr>
        <th>文件名</th>
        <th>文件大小</th>
        <th>资源类型</th>
        <th nzShowSort nzSortKey="referenceCount" nz-tooltip nzPlacement="topLeft" nzTitle="点击排序">引用数</th>
        <th>资源永久地址</th>
        <th nzShowSort nzSortKey="createdAt" nz-tooltip nzPlacement="topLeft" nzTitle="点击排序">创建日期</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let resource of basicTable.data">
        <td><strong style="color: #1890ff;">{{resource.originalFilename}}</strong></td>
        <td>{{resource.fileSize}}</td>
        <td>{{resource.fileType}}</td>
        <td>
          <nz-tag [nzColor]="'blue'">{{resource.referenceCount}}</nz-tag>
        </td>
        <td>
          <a href="{{backEndHostAddress}}/{{resource.location}}" target="_blank">
            {{backEndHostAddress}}/{{resource.location}}</a>
        </td>
        <td>{{resource.createdAt}}</td>
        <td>
          <button nz-button nzSize="small" nzType="danger" style="margin-left: 5px; margin-right: 5px;"
                  (click)="showDeleteConfirm(resource)">删除
          </button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
