<nz-layout style="height: 100%;">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]=null>
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item routerLink="/dashboard" [nzSelected]="selectMap.dashboard">
        <span title><i nz-icon type="file"></i><span class="nav-text">仪表盘</span></span>
      </li>
      <li nz-submenu [(nzOpen)]="openMap.article" (nzOpenChange)="openHandler('article')">
        <span title><i nz-icon type="file"></i><span class="nav-text">文章</span></span>
        <ul>
          <li nz-menu-item routerLink="/article/all" [nzSelected]="selectMap.article_all">所有文章</li>
          <li nz-menu-item routerLink="/article/new" [nzSelected]="selectMap.article_new">写文章</li>
        </ul>
      </li>
      <li nz-submenu [(nzOpen)]="openMap.navigation" (nzOpenChange)="openHandler('navigation')">
        <span title><i nz-icon type="file"></i><span class="nav-text">导航</span></span>
        <ul>
          <li nz-menu-item routerLink="/navigation/category" [nzSelected]="selectMap.navigation_category">分类目录</li>
          <li nz-menu-item routerLink="/navigation/tag" [nzSelected]="selectMap.navigation_tag">标签</li>
        </ul>
      </li>
      <li nz-submenu [(nzOpen)]="openMap.resource" (nzOpenChange)="openHandler('resource')">
        <span title><i nz-icon type="file"></i><span class="nav-text">资源</span></span>
        <ul>
          <li nz-menu-item routerLink="/resource/all" [nzSelected]="selectMap.resource_all">所有资源</li>
          <li nz-menu-item routerLink="/resource/upload" [nzSelected]="selectMap.resource_upload">上传</li>
        </ul>
      </li>
      <li nz-submenu [(nzOpen)]="openMap.user" (nzOpenChange)="openHandler('user')">
        <span title><i nz-icon type="file"></i><span class="nav-text">用户</span></span>
        <ul>
          <li nz-menu-item routerLink="/user/all" [nzSelected]="selectMap.user_all">所有用户</li>
          <li nz-menu-item routerLink="/user/create" [nzSelected]="selectMap.user_create">添加用户</li>
          <li nz-menu-item routerLink="/user/me" [nzSelected]="selectMap.user_me">我的资料</li>
        </ul>
      </li>
      <li nz-submenu [(nzOpen)]="openMap.setting" (nzOpenChange)="openHandler('setting')">
        <span title><i nz-icon type="file"></i><span class="nav-text">设置</span></span>
        <ul>
          <li nz-menu-item routerLink="/setting/common" [nzSelected]="selectMap.setting_common">常规</li>
          <li nz-menu-item routerLink="/setting/edit" [nzSelected]="selectMap.setting_edit">撰写</li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header style="background: #fff; padding: 0; position: fixed; width: 100%; z-index: 99999">
      <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="isCollapsed=!isCollapsed"></i>
    </nz-header>
    <nz-content style="margin:0 16px;">
      <div style="margin-top: 90px; padding:24px; background: #fff;">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
